@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Medium.ttf);
  font-style: medium;
}

@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Bold.ttf);
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: TT Lakes;
}

main {
  background-color: #fff;
  max-width: 320px;
  height: auto;
  box-shadow:  0px 0px 24px 1px rgba(0,0,0,0.2);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin-bottom: 16px;
}

.logo-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.side-bar-menu ul li {
  margin: 0px 0px 10px 0px;
  padding: 16px 0px;
}


.side-bar-menu ul li a {
  text-decoration: none;
  color: #7E7E82;
  margin: 24px;
font-size: 16px;
font-style: medium;
}

.side-bar-menu ul li:hover {
font-style: bold;
background-color: #ddd;
color: #000;

}

.icons:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.side-bar-menu ul li:active {
  border-left: solid #41F6D7 5px;
}

.side-menu-footer {
  margin-top: 260px;
  margin-left: 24px;
  
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 15px;
}

.side-menu-footer p {
  margin-bottom: 16px;
}

.language {
  display: flex;
  margin-left: 24px;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 0px ;
}

