@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Medium.ttf);
  font-style: medium;
}

@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Bold.ttf);
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: TT Lakes;
  color: #1B1C21
}

main {
  background-color: #fff;
  max-width: 320px;
  height: auto;
  box-shadow:  0px 0px 24px 1px rgba(0,0,0,0.2);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
  margin-bottom: 16px;
}

.logo-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.side-bar-menu{
  position: relative;
}

.side-bar-menu ul li {
  margin: 0px 0px 10px 0px;
  padding: 16px 0px;
}


.side-bar-menu ul li a {
  text-decoration: none;
  color: #1B1C21;
  margin: 24px;
font-size: 16px;
font-weight: 500;
}

.side-bar-menu ul li a:hover {
font-style: bold;
font-weight: 700;
text-shadow: 2px 4px 2px #00000040;
}

.icons:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.side-bar-menu ul li:active {
  border-left: solid #41F6D7 5px;
}

.side-menu-footer {
  margin-top: 260px;
  margin-left: 24px;
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 15px;
}

.side-menu-footer p {
  margin-bottom: 16px;
  font-weight: 500;
}

.side-menu-footer p:last-of-type {
  font-size: 24px;
  font-weight: 700;
}


.language {
  display: flex;
  margin-left: 24px;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 0px ;
  font-size: 14px;
  font-weight: 500;
}

.active {
  width: 2%;
  height: 10%;
  background-color:#41F6D7 ;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute
}

