* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #fff;
  max-width: 320px;
  height: auto;
  border: solid;
  box-shadow:  0px 0px 24px 1px rgba(0,0,0,0.2);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
}

